* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 2% 2%;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 1;
}

.hamburger {
    display: flex;
    justify-content: flex-end;
}

.hamburger img {
    height: 34px;    
}

header, section {
    min-height: 100vh;
    padding: 100px 0;
    border-bottom: 2px solid;
}

.nav-list {
    display: none;
}

.mugshot img {
    height: 30vh;
    border-radius: 50%;
    filter: grayscale(100%);
}

nav, h1, h2, h3 {
    font-family: 'oswald', sans-serif;
}

nav, h2 {
    text-transform: uppercase;
}

p {
    font-family: 'karla', sans-serif;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 5vw;
}

header p {
    text-align: center;
    font-size: 24px;
    line-height: 24px;
}

h2 {
    margin-bottom: 24px;
}

h3 {
    margin-bottom: 20px;
}

section .container {
    display: inline-block;
    width: 80vw;
}

.screenshot {
    position: relative;
    height: 70vh;
    margin-bottom: 20px;
}

.screenshot img {
    max-width: 65vw;
    max-height: 65vh;
    border: 4px solid white;
    border-radius: 4%;
}

.screenshot-top {
    position: absolute;
    top: 0;
    left: 0;
}

.screenshot-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.highlight-green {
    color: #00bb7d;
    font-weight: bold;
}

.highlight-blue {
    color: #00d9ff;
    font-weight: bold;
}

.underline-green {
    text-decoration: underline;
    text-decoration-color: #00bb7d;
    font-weight: bold;
}

.underline-blue {
    text-decoration: underline;
    text-decoration-color: #00d9ff;
    font-weight: bold;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

.screenshot-medium {
    display: none;
}

@media screen and (min-width: 520px) {
    p {
        display: unset;
    }
    
    .nav-list {
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
    }

    .nav-list li {
        padding: 0 20px;
    }

    .hamburger, .screenshot-top, .screenshot-bottom {
        display: none;
    }

    .screenshot {
        height: unset;
    }
    .screenshot-medium {
        display: unset;
    }
}

@media screen and (min-width: 860px) {
    h1 {
        display: none; 
    }
    
    .nav-list {
        flex-direction: column;
        height: 100%;
    }

    .nav-list li {
        padding: 25px 0;
    }

    nav {
        top: 0;
        left: 0;
        right: unset;
        bottom: 0;
        padding: 0 10px;
    }
}